body {
	background-color:#CCD;
	color:black;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
}

.b297 {
	border:thin;
	vertical-align:baseline;
	text-align:center;
	height:20;
	width:20;
}

table {
	font-size:16px;
}

.table-summary .p {
	vertical-align:middle;
	min-height:26px;
	
}

.monster-name {
	text-align:center;
	font-size:10px;
}
.left-header {
	width:130px;
	text-align:right;
}

.stats {
	align:center;
	//padding-left:10px;
	width:100px;
	background-color:transparent;
}

.cell-mId {
	border:1px thin;
	text-align:center;
	width:60px;
	//background-color:transparent;
}

.cell-ATK {
	border:1px thin;
	text-align:center;
	width:60px;
	//background-color:transparent;
}

.cell-ATKsub {
	border:1px thin;
	text-align:center;
	width:40px;
	//background-color:transparent;
}

.table-row {
	text-align:center;
}

.tp-row {
	text-align:center;
}

.table-result {
	text-align:center;
}

.table-result-compare {
	font-size:10px;
	text-align:right;
}

.result-sub {
	text-align:right;
	vertical-align:bottom;
	font-size:14px;
}

.orb-input {
	width:50px;
	margin-right:1px;
}

.orb-matched {
	line-height:22px;
	vertical-align:text-bottom;
}

.orb-ns {
	height:18px;
	width:18px;
	padding:2px;
}

.orb-s {
	height:18px;
	width:18px;
	border:2px solid #6E6E6E;
}